---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <div class="mb-8 bg-slate-800">
    <div class="sm:pt-4">
      <div class="container mx-auto relative">
        <div class="mx-8 grid md:grid-cols-2 md:gap-8">
          <div class="lg:my-12 xl:my-24">
            <h1 class="text-white font-extrabold text-4xl md:text-7xl lg:text-8xl xl:text-9xl py-4">
				We <span class="text-columbia">Design</span>, <span class="text-lemon">Build</span>, <span class="text-pale">Ship</span>.
			</h1>
            <p class="mt-1 max-w-full sm:max-w-md mx-auto text-base text-white sm:text-lg md:mt-2 md:max-w-3xl">
              Elevate your space now with serobe! discover a comprehensive residence management software that empowers you to efficiently oversee all facets of your residence operations.
            </p>
          </div>
          <div class="order-first sm:order-last">
            <!-- <Image src={guarantee} alt="serobe-hero-image" class="object-contain " /> -->
          </div>
        </div>
        <div class="my-12 lg:my-32 mx-8">
          <div class="lg:my-12 xl:my-24">
            <h1 class="text-white text-center font-bold text-4xl md:text-5xl lg:text-6xl py-4">
				Our work
			</h1>
            <p class="mt-1 text-center text-base text-white sm:text-lg md:mt-2">
			  Stories of success and transformation from great partnerships.
            </p>
		</div>
        <div class="mt-0">
          <div class="mx-auto max-w-2xl px-4 py-8 sm:px-6 sm:py-12 lg:max-w-7xl lg:px-8">
            <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-2 xl:gap-x-8">
              <div class="group relative">
                <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
                  <img src="https://cdn.serobe.co.za/assets/images/All%20in%20one%20residence%20management%20software%20_%20Serobe.png" alt="serobe residence management software" class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                </div>
                <div class="mt-4 flex justify-between">
                  <div>
                    <h3 class="text-white font-bold text-lg sm:text-2xl lg:text-4xl ">
                      <a href="https://serobe.co.za/?utm_source=cheleo&utm_campaign=work">
                        <span aria-hidden="true" class="absolute inset-0"></span>
                        Serobe - residence management software
                      </a>
                    </h3>
                  </div>
                </div>
              </div>
        
              <!-- More products... -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>	
</Layout>
