---
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Cheleo" />
    <meta name="viewport" content="width=device-width" />
	<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2250%22 fill=%22%231e293b%22></rect><path fill=%22%23fff%22 d=%22M71.64 29.21L71.64 29.21Q71.64 30.74 70.79 31.91Q69.94 33.08 68.77 33.62L68.77 33.62Q66.42 32.09 63.41 30.74Q60.39 29.39 55.81 29.39L55.81 29.39Q51.84 29.39 48.56 30.74Q45.27 32.09 42.89 34.70Q40.50 37.31 39.16 41.18Q37.80 45.05 37.80 50.09L37.80 50.09Q37.80 60.26 42.84 65.48Q47.89 70.70 56.17 70.70L56.17 70.70Q60.58 70.70 63.81 69.44Q67.05 68.18 69.39 66.56L69.39 66.56Q70.39 67.19 71.24 68.36Q72.09 69.53 72.09 71.06L72.09 71.06Q72.09 72.32 71.42 73.40Q70.75 74.48 69.22 75.38L69.22 75.38Q67.23 76.64 63.81 77.63Q60.39 78.62 55.17 78.62L55.17 78.62Q49.41 78.62 44.47 76.86Q39.52 75.11 35.83 71.56Q32.14 68 30.02 62.64Q27.91 57.29 27.91 50.09L27.91 50.09Q27.91 43.07 30.07 37.67Q32.23 32.27 35.87 28.67Q39.52 25.07 44.38 23.23Q49.23 21.38 54.73 21.38L54.73 21.38Q58.59 21.38 61.70 22.05Q64.80 22.73 67.01 23.81Q69.22 24.89 70.43 26.33Q71.64 27.77 71.64 29.21Z%22></path></svg>" />
    <title>{title}</title>
  </head>
  <body>
    <ViewTransitions />
	<slot />
  </body>
</html>
